<div class="departure-display__departure">
    <flip-time-display class="departure-display__departure-time"></flip-time-display>
    <div>
        <transit-display class="departure-display__departure-line"></transit-display>
    </div>
    <span class="departure-display__departure-headsign"></span>
    <span class="departure-display__planned-time"></span>
    <span class="departure-display__departure-stop-display">
        <img class="departure-display__departure-stop-img" src="../../icons/transport_stop.svg" alt="Abfahrtsstation">Abfahrt:
        <span class="departure-display__departure-stop"></span>
    </span>
</div>