<div class="departure-display__departure">
    <flip-time-display class="departure-display__departure-time"></flip-time-display>
    <div>
        <transit-display class="departure-display__departure-line"></transit-display>
    </div>
    <span class="departure-display__departure-stop"></span>
    <span class="departure-display__planned-time"></span>
    <span class="departure-display__departure-direction">Richtung
        <span class="departure-display__departure-headsign"></span>
    </span>
</div>