node_modules
gtfs-preprocessing/gtfs
gtfs-preprocessing/gtfs.zip
preprocessing-dist
raptor/build
raptor/*.wasm
raptor/*.wasm.map
raptor/.vs
raptor/x64
stopsearch/.vs
stopsearch/Debug
stopsearch/build
stopsearch/stopsearch.wasm

