raptor/build
raptor/*.wasm
raptor/*.wasm.map
node_modules
gtfs
stops.txt
route_translation.js
route_translation.txt
helper.js
stop-helper.js
raptor/.vs
raptor/x64
stops.bin.gz
stopnames.txt
routenames.txt
*.bin
*.bin.gz
stop-popularity.txt
stopsearch/.vs
stopsearch/Debug
stopsearch/build
stopsearch/stopsearch.wasm
stopgroupnames.txt
