<button class="stop-search">
    <label class="stop-search__label"></label>
    <div>
        <span class="stop-search__selected-result-label">auswählen</span>
    </div>
</button>
<app-popup>
    <div class="stop-search__search">
        <div class="stop-search__search-input-container">
            <label class="stop-search__label"></label>
            <input placeholder="Suche eine Station" class="stop-search__search-input" type="search" autocomplete="off"
                autocapitalize="off">
        </div>
        <div class="stop-search__results">
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
            <search-result-card style="display: none;" class="stop-search__search-result"></search-result-card>
        </div>
    </div>
</app-popup>