<div class="route-details__container" id="route-details__container">

</div>
<app-timeline>
    <timeline-element time="2023-02-08T14:26:00" slot="timeline-elements">
        <flip-time-display time="590384345"></flip-time-display>
        Test 1
    </timeline-element>
    <timeline-element time="2023-02-08T14:30:00" slot="timeline-elements">Stephansplatz U1</timeline-element>
    <timeline-element time="2023-02-08T14:51:00" slot="timeline-elements">Test-Content 3</timeline-element>
    <timeline-element time="2023-02-08T15:47:00" slot="timeline-elements">Ziel</timeline-element>
</app-timeline>