<div class="route-summary__departure">
    <span class="route-summary__departure-time">17:40</span>
    <div class="route-summary__departure-line">
        <transit-display route="94A"></transit-display>
    </div>

    <span>Kagraner Anger</span>
    <span class="route-summary__departure-direction">Richtung Kagran</span>
</div>

<ol class="route-timeline">
    <li class="route-timeline__time">17:31</li>
    <li>
        <walking-display minutes="6"></walking-display>
    </li>
    <li>
        <transit-display route="94A"></transit-display>
    </li>
    <li>
        <transit-display route="U1" route-color="#E3000F"></transit-display>
    </li>
    <li>
        <walking-display minutes="3"></walking-display>
    </li>
    <li class="route-timeline__time">18:10</li>
</ol>