<div class="route-summary__departure">
    <span class="route-summary__departure-time"></span>
    <div>
        <transit-display class="route-summary__departure-line"></transit-display>
    </div>
    <span class="route-summary__departure-stop"></span>
    <span class="route-summary__planned-time"></span>
    <span class="route-summary__departure-direction">Richtung
        <span class="route-summary__departure-headsign"></span>
    </span>
</div>
<route-timeline class="route-summary__timeline"></route-timeline>