@use "../../utils.scss";

departure-summary {
    display: block;
    border-bottom: 1px solid var(--border);
    padding: 0.4em;

    & > a {
        text-decoration: none;
        color: inherit;
    }
}