<div class="route-search__header">
    <div class="route-search__container">
        <stop-search label="Abfahrt" class="route-search__abfahrt" id="departure-stop-search"></stop-search>
        <stop-search label="Ziel" id="arrival-stop-search"></stop-search>
    </div>
</div>
<div class="route-search__time-container" style="display: none;">
    <div class="route-search__time-container2">
        <div class="route-search__time">
            <label for="departure-time-input">Abfahrt</label> <input type="datetime-local" id="departure-time-input">
        </div>
    </div>
</div>